$font-family : industry-si,HelveticaNeue,sans-serif;
.tab-list > .tabs{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: rgba(213, 213, 213, 0.68);
    font-family : $font-family;
}
.tab-list{
    display: flex;
    width: 50%;
    margin-bottom : 0px;
    font-family : $font-family
}
.nav-tabs{
    padding: 0px 20px;
     font-family : $font-family
}

.metadata-heading{
    font-family : $font-family;
    margin-left: 20px;
    margin-top: -10px;
}
.back-btn{
    margin-left: 20px;
    margin-top: -15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #0a1529;
}
