.form-group .required:after {
  content:"*";
  color:red;
  margin-left: 2px;
}
.modal-dialog {
    width: 60% !important;
}
.carousel-caption{
    bottom: inherit;
    left: 0px;
    width: 100%;
    top: 14px;
}
.panel-default{
  border-color: transparent;
  padding: 0px;
  margin:0px;
}
.panel {
  margin: 0px;
  padding: 0px;
  background-color: transparent;
}
.panel .panel-body{
  margin: 0px;
  padding: 0px;
}
.panel .panel-collapse{
  margin:0px;
}
.control-label{
  margin-right: 5px;
  padding-right: 2px;
}
@media (max-width: 768px){
  .form-group label{
    display: none;
  }
}

