$font-family : industry-si,HelveticaNeue,sans-serif;
.form-parent {
  font-family: $font-family;
}
.form-parent > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
.drawing-div{
  height: 500px;
  border-style: dashed;
  margin: 20px;
  border-color: #C5CBD1;
  overflow: auto;
}
.drawing-div.fields{
  width: 46px;
  height: 50px;
  background-color: white;
  float: left;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-family : $font-family
}
.upload-button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.upload-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.drag-text-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
 .metadata-group{

    font-family : $font-family;
    margin-top: 20px;
    padding: 10px;
    margin-right : 15px;
    margin-left : 15px;

  }
  .metadata-group div {
    margin-right : 10px;
    margin-left : 10px;
  }
  .metadata-group .panel {
    margin : 0px
  }
  .metadata-group label {
    display: block;
  }
  .metadata-group .radio-group{
    display : flex;
    flex-wrap: wrap;
  }
  .metadata-group input,textArea {
    width : 100%
  }
.text-style{
  color : white;
}
.expander {
  display: flex;
  cursor: pointer;
}
.generated-code-div{
  height: 200px;
  display : flex;

}
.generated-html{
  overflow: auto;
  width: 60%;
  background-color: aliceblue;
  margin: 0px 20px 20px 20px;
  padding: 15px;
  overflow: auto;
}
.generated-css{
  overflow: auto;
  width: 40%;
  background-color: aliceblue;
  margin: 0px 20px 20px 20px;
  padding: 15px;
  float: left;
  overflow: auto;
}
