$font-family : industry-si,HelveticaNeue,sans-serif;
.form-parent {
  font-family: $font-family;
}
.form-parent > div {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top:20px;
}
.drawing-div{
  height: 500px;
  border-style: dashed;
  margin: 20px;
  border-color: #C5CBD1;
}
.drawing-div.fields{
  width: 46px;
  height: 50px;
  background-color: white;
  float: left;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid black;
  font-family : $font-family
}
.upload-button-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.upload-button{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
.drag-text-div {
  display: flex;
  align-items: center;
  flex-direction: column;
}
