
.main-header{
  background: rgb(0, 96, 152);
  width:100%;
  z-index:100;
  top:0px;
  height:50px;
}
.nav-header{
  background-color: rgba(70, 70, 70,0.5);
  color:#ffffff;
}
.navbar{
  margin-top:100;
}
.logo {
    font-family:sans-serif;
    text-align: center;
    vertical-align: middle;
    margin-top : 9px;
    font-size :20px;
    float:left;

}
