.palette-header{
    width: 100%;
    height: 34px;
    background-color: #23536F;
    color: white;
    display: flex;
    align-items: center;
    padding-left: 10px;
}
.palette{
  padding-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.18);
}

